APP_SECRET=please-change-this-string # openssl rand -hex 32
DATABASE_URL=postgres://stoat:stoat@stoat-db.internal:5432/stoat
APP_URL=http://localhost:5173

#ALLOW_SIGNUP=false # defaults to false



# Optional local-development root directory for data sources.
# DATA_DIR=./data
